<!DOCTYPE html>
<html>
<head>
    <title>Add Picture</title>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/general.css" />
</head>
<body>
