<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signin">Signin</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/signout">Signout</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/list">List</a></li>
    </ul>
</nav>