<script>
  $(document).ready(function () {
    $('.dropdown-toggle').dropdown();
  });
</script>

<nav *ngIf="isUserLogged();" class="navbar navbar-expand-lg navbar-light no-print" style="background-color: #d8d4d4;">
  <a class="navbar-brand col-md-4" href="#">CityTour</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse col-md-8 " id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 col-md-6">
      <input class="form-control form-control-sm" #search id="search" type="search" placeholder="Search Pictures" aria-label="Search" keyup.enter="search(thise)">
    </form>

    <ul class="navbar-nav mr-auto right col-md-6">
      <li class="nav-item">
        <a [routerLink]="['/pictures/create']" class="btn btn-sm btn-info nav-link">Add a Picture</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/map/']" class="nav-link">Map</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/accounts/']" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/pictures/']" class="nav-link">Pictures</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/accounts']" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="signout();" href="#">Signout</a>
      </li>
    </ul>


  </div>
</nav>
