<div style="background:url('/uploads/background.jpg') center no-repeat; background-size: cover;">
  <div class="container text-center">
    <div class="mr-auto" style="max-width: 800px; display:inline-block">

      

      <div class="jumbotron" style="background-color:rgba(250,250,250,.90); margin: 60px 10px;">
        <img src="../uploads/logo_citytour.png" style="margin: 30px 10px; max-width: 550px;">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg col-md-5" [routerLink]="['signin']" role="button" style="margin-top:10px;">Signin</a>
        </p>
        <p class="lead">
          <h5 style="font-weight:300;">Don't have an account yet? Signup here.</h5>
          <a class="btn btn-primary btn-lg col-md-5" [routerLink]="['signup']" role="button" style="margin-top:10px;">Signup Here</a>



      </div>
    </div>
  </div>
</div>
