<!DOCTYPE html>
<html>
<head>
    <title>Listing Pictures...</title>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
    <div style="border: 1px solid #cccccc; padding: 20px; align-items:center; margin:5% 20%;">
        <h1>Listing Pictures...</h1>
        
    </div>
</body>

</html>